<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Cottorro</title>

		<link href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<a href="/" class="logo">Cottorro</a>
			{% if user %}
			<a href="/write" class="button">Cotorrea</a>
			<span>|</span>
			<a href="#" class="button">{{user}}</a>
			<a href="/logout" class="button">Salir</a>
			{% else %}
			<a href="/signup" class="button">Regístrate</a>
			<span>|</span>
			<a href="/login" class="button">Entrar</a>
			{% endif %}
		</header>
		<div class="container">
		{% for alert in alerts -%}
		<div class="alert {{alert.level}}">
			{% if alert.tittle %}
			<h3>{{alert.tittle}}</h3>
			{% endif %}
			<p>{{alert.text}}</p>
		</div>
		{%- endfor %}
		{% block content %}{% endblock %}
		</div>
	</body>
</html>

