{% extends "base.html" %}
{% block content %}
			<form action="/login" method="post">
				<fieldset>
				<legend>Login</legend>
				<div class="input-group fluid">
					<label for="username">Usuario</label>
					<input required type="text" value="" name="username" id="username" placeholder="usuario">
				</div>
				<div class="input-group fluid">
					<label for="pwd">Contraseña</label>
					<input required type="password" value="" name="password" id="pwd" placeholder="contraseña">
				</div>
				<div class="input-group fluid">
					<input class="tertiary" type="submit" value="Entrar">
				</div>
				</fieldset>
			</form>
{% endblock %}
